@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Science+Gothic:wght@100..900&display=swap');
@import "tailwindcss";

/*  "Science Gothic"  "Josefin Sans"  */
@theme {
  --font-sans: "Josefin Sans", sans-serif;
  --background-color: #252526; 
  --text-color: #dee3e8; 
}

body {
  font-family: var(--font-sans);
  background-color: var(--background-color);
  color: var(--text-color);
}